<div class="bg-info min-h-screen flex justify-center items-center">
    <div class="bg-white p-5 rounded-5 text-secondary shadow" style="width: 25rem">
      <div class="flex justify-center">
        <mat-icon class="text-7xl" style="height: 5rem; width: 5rem;">perm_identity</mat-icon>
      </div>
      <div class="text-center text-3xl font-bold">Crear cuenta</div>
      <div class="mt-4">

        <mat-form-field class="w-full">
            <mat-label>Nombre de Usuario</mat-label>
            <input matInput placeholder="Username" [(ngModel)]="user.login">
        </mat-form-field>

        <mat-form-field class="w-full">
            <mat-label>Rol</mat-label>
            <input matInput placeholder="Admin-User" [(ngModel)]="user.rol_name">
        </mat-form-field>
        
        <div class="mt-1">
            <mat-form-field class="w-full">
              <mat-label>Cedula</mat-label>
              <input matInput type="text" placeholder="Cedula" [(ngModel)]="user.id_person">
            </mat-form-field>
        </div>
        <div class="mt-1">
          <mat-form-field class="w-full">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" placeholder="Contraseña" [(ngModel)]="user.password">
          </mat-form-field>
      </div>
          <button mat-raised-button color="info" class="w-full mt-4 font-semibold shadow-sm">Registrarse</button>
      </div>
      <div class="btn btn-info text-white w-100 mt-4 fw-semibold shadow-sm">
        Crear cuenta
      </div>
      <div class="d-flex justify-content-center mt-3">
        <a href="/login" class="text-decoration-none text-info fw-semibold">
          ¿Ya tienes una cuenta? Iniciar sesión
        </a>
      </div>
    </div>
  </div>
  